body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
  color: #FE6544	;
  background-color: #000000;
}

h1 {
    text-align: center;
}

.controls {
    margin-bottom: 20px;
    text-align: center;
}

.controls label {
    margin-right: 10px;
}

#messages {
    border: 1px solid #FE6544;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #212163;
}

.message {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
